{% extends "base.html" %}
{% block title %}OpenResource{% endblock %}

{% block content %}
<div class="container">

<h2>OpenResource</h2>
<p>
OpenResource is a resource reservation system. <br>
Registered users can create their own resources and provide availability times for other users to reserve. <br>
Users can see a list of all resources in the system and request reservation times during listed availabilities. <BR>
</p><p>
We hope our application encourages the use of resource sharing and<br> eventually hope to expand to allow community groups to form their own resource sharing ecosystem through our system.</p>
<br><br>
&copy; 2015 Jasmine Hsu   </div>
</div>
</div>
{% endblock %}
