{% extends "base.html" %}
{% block title %}OpenResource{% endblock %}

{% block content %}
<br><br>
     <div class="container">

{% if user %}

{% if rsvp_success == "True" %}
<div class="alert alert-success" role="alert">Successfully created a reservation!</div>
{% endif %}

{% if rsvp_success == "False" %}
<div class="alert alert-danger" role="alert">Unable to create reservation! There was a conflict with existing reservations.</div>
{% endif %}

{% if delete_success == "True" %}
<div class="alert alert-success" role="alert">Successfully deleted the reservation!</div>
{% endif %}

{% if delete_success == "False" %}
<div class="alert alert-danger" role="alert">Unable to delete the reservation!</div>
{% endif %}


<h2> 
  <span class = "glyphicon glyphicon glyphicon-time gi-25x"></span> 
  User Reservations <span class="badge">{{ rsvps_user|length }}</span></h2>
All resources you created. <br> Click the info icon to see resource details. <br>
  Click the pencil icon to edit your resource. <br>
Reservations are sorted from most immediate to later. </br></br>

<table class="table table-sm table-hover">
  <thead>
    <tr>
      <th>User</th>
      <th>Resource</th>
      <th>Date</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th></th>
    </tr>
  </thead>
      {% for rsvp in rsvps_user %}

  <tbody>
    <tr>
      <th scope="row">{{ rsvp.user.identity }} </th>
      <td>{{ rsvp.resource_name }}</td>
      <td>{{ rsvp.time.Date }}</td>
      <td>{{ rsvp.time.start }}</td>
      <td>{{ rsvp.duration }}</td>

      <td>
        <a href="/view?rkey={{ rsvp.resource_key }}">
          <span class ="glyphicon glyphicon-info-sign gi-15x">
          </a>
        <a href="/user?ukey={{ rsvp.user.identity }}">
          <span class ="glyphicon glyphicon glyphicon-user gi-15x">
          </a>
        <a href="/delete?rsvpkey={{ rsvp.key.urlsafe() }}">
          <span class ="glyphicon glyphicon glyphicon-trash gi-15x">
          </a>
      </td>
    </tr>
  </tbody>
  {% endfor %}

</table>

<h2> 
  <span class = "glyphicon glyphicon-pushpin gi-25x"></span> 
  User Owned Resources <span class="badge">{{ resources_user|length }}</span></h2>
All resources you created. <br> Click the info icon to see resource details. <br>
  Click the pencil icon to edit your resource.</br></br>
<!-- Current user: {{ user.user_id() }} at {{ user.email() }} -->

<table class="table table-sm table-hover">
  <thead>
    <tr>
      <th>Resource</th>
      <th>Date</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th></th>
    </tr>
  </thead>
      {% for resource in resources_user %}

  <tbody>
    <tr>
      <th scope="row">{{ resource.name }} </th>
      <td>{{ resource.availability.Date }}</td>
      <td>{{ resource.availability.start }}</td>
      <td>{{ resource.availability.end }}</td>
      <td>
        <a href="/view?rkey={{ resource.key.urlsafe() }}">
          <span class ="glyphicon glyphicon-info-sign gi-15x">
          </a>
        <a href="/edit?rkey={{ resource.key.urlsafe() }}">
          <span class ="glyphicon glyphicon glyphicon-pencil gi-15x">
          </a>
      </td>
    </tr>
  </tbody>
  {% endfor %}

</table>

{% else %}
Viewing as guest, please login to create resources or make reservations!
{% endif %}

<h2>
 </span> 
 <span class="glyphicon glyphicon-globe gi-25x"></span> Available Resources <span class="badge">{{ resources_all|length }}</span></h2>
 </span>All available resources in the system.  <br>
  Click the info icon to see resource details. <br>
  Click the bookmark icon to reserve the resource!<br>
  You can't reserve your own resource. 
  </br></br>
<table class="table table-sm table-hover" >
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th></th>

    </tr>
  </thead>
      {% for resource in resources_all %}
  <tbody>
    <tr>
      <th scope="row">{{ resource.name }} 
</a>
    {% if user %}
    {% if resource.creator.identity == user.user_id() %}
  <span class="label label-info">owner</span>
    {% endif %} 
    {% endif %} 

      </th>
      <td>{{ resource.availability.Date }}</td>
      <td>{{ resource.availability.start }}</td>
      <td>{{ resource.availability.end }}</td>
 <td>
        <a href="/view?rkey={{ resource.key.urlsafe() }}">
          <span class= "glyphicon glyphicon-info-sign gi-15x">
          </a>
        {% if user %}
          {% if resource.creator.identity != user.user_id() %}
        <a href="/reserve?rkey={{ resource.key.urlsafe() }}">
          <span class="glyphicon glyphicon glyphicon-bookmark gi-15x">
          </a>
          {% endif %} 
         {% endif %} 
        </td>

      <!-- <td><a href="/view?rkey={{ resource.key.urlsafe() }}">View</a></td> -->
    </tr>
  </tbody>
      {% endfor %}
</table>



    </div>
{% endblock %}
