{% extends "base.html" %}
{% block title %}OpenResource{% endblock %}

{% block content %}
<br><br>
     <div class="container">

<h2> User Owned Resources ({{ resources_user|length }}): </h2>
Current user: {{ user.user_id() }} at {{ user.email() }}
<table class="table table-sm">
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Star Time</th>
      <th>End Time</th>
      <th>Edit</th>
    </tr>
  </thead>
      {% for resource in resources_user %}

  <tbody>
    <tr>
      <th scope="row">{{ resource.name }} </th>
      <td>{{ resource.availability.Date }}</td>
      <td>{{ resource.availability.start }}</td>
      <td>{{ resource.availability.end }}</td>
      <td><a href="/reserve?={{ resource.key.urlsafe() }}">Reserve</a></td>
    </tr>
  </tbody>
  {% endfor %}

</table>

<h2> Available Resources ({{ resources_all|length }}): </h2>
<table class="table table-sm">
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Star Time</th>
      <th>End Time</th>
      <th>View</th>
    </tr>
  </thead>
      {% for resource in resources_all %}
  <tbody>
    <tr>
      <th scope="row">{{ resource.name }} 
    {% if resource.creator.identity == user.user_id() %}
    (yours) 
    {% endif %} 
      </th>
      <td>{{ resource.availability.Date }}</td>
      <td>{{ resource.availability.start }}</td>
      <td>{{ resource.availability.end }}</td>
      <td><a href="/resource?rkey={{ resource.key.urlsafe() }}">View</a></td>
    </tr>
  </tbody>
      {% endfor %}
</table>

      {% for greeting in greetings %}
      <div class="row">
        {% if greeting.author %}
          <b>{{ greeting.author.email }}
            {% if user and user.user_id() == greeting.author.identity %}
              (You)
            {% endif %}
          </b> wrote:
        {% else %}
         An anonymous person wrote:
        {% endif %}
        <blockquote>{{ greeting.content }}</blockquote>
      </div>
      {% endfor %}


    </div>
{% endblock %}
