{% extends "base.html" %}
{% block title %}OpenResource{% endblock %}

{% block content %}

     <div class="container">
      There are {{ resources_size }} available resources in the system:

      {% for resource in resources %}
      <div class="row">
          <b>{{ resource.name }}</b>: {{ resource.availability.Date }} from  {{ resource.availability.start }} until {{ resource.availability.end }}     
      </div>

      {% endfor %}



      {% for greeting in greetings %}
      <div class="row">
        {% if greeting.author %}
          <b>{{ greeting.author.email }}
            {% if user and user.user_id() == greeting.author.identity %}
              (You)
            {% endif %}
          </b> wrote:
        {% else %}
         An anonymous person wrote:
        {% endif %}
        <blockquote>{{ greeting.content }}</blockquote>
      </div>
      {% endfor %}

<!--       <form action="/add?guestbook_name={{ guestbook_name }}" method="post">
        <div><textarea name="content" class="input-block-level" rows="3"></textarea></div>
        <div><input type="submit" class="btn btn-large btn-primary" value="Sign Guestbook"></div>
      </form> -->

    <form action="/add">
        <input type="submit" class="btn" value="Add a Reservation">
    </form>

      <hr>

      <form>Guestbook name:
        <input value="{{ guestbook_name }}" name="guestbook_name">
        <input type="submit" value="switch">
      </form>

      <a href="{{ url|safe }}">{{ url_linktext }}</a>
    </div>
{% endblock %}
