
{% extends "base.html" %}
{% block title %}OpenResource{% endblock %}
{% block head %}
<head>
    {{ super() }}

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js"></script>

<link rel="stylesheet" href="/bootstrap/css/bootstrap-datepicker-custom.css">

<!-- <script type="text/javascript" src="http://jonthornton.github.io/jquery-timepicker/jquery.timepicker.js"></script>
<link rel="stylesheet" href="http://jonthornton.github.io/jquery-timepicker/jquery.timepicker.css">
 -->

<script src="//cdn.jsdelivr.net/bootstrap.tagsinput/0.4.2/bootstrap-tagsinput.min.js"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap.tagsinput/0.4.2/bootstrap-tagsinput.css" />

<script type="text/javascript" src="/bootstrap/js/jquery.timepicker.js"></script>
<link rel="stylesheet" href="/bootstrap/css/jquery.timepicker.css">

<style type="text/css">
.bootstrap-tagsinput {
    width: 100%;
}
.label {
    line-height: 2 !important;
}

.dropdown {
    display: none;
    background: #fff;
    border: 1px solid #999;
/*    position: absolute;
*/  position: fixed;
    padding: 20px;
}

</style>

<script type="text/javascript"> 
  function validateForm() {

    var res_timestart = document.forms["createResource"]["timeStartAvail"].value.toString()
    var res_timeend = document.forms["createResource"]["timeEndAvail"].value.toString()

    var timestart = document.forms["createResource"]["timeStart"].value.toString()
    var timeend = document.forms["createResource"]["timeEnd"].value.toString()
    var date = document.forms["createResource"]["date"].value.toString()

    var re_time = new RegExp("^[0-2][0-9]:[0-5][0-9]$");

    if (!timestart.match(re_time)) {
      alert("Not a valid start time!");
      return false;
    }

    if (!timeend.match(re_time)) {
      alert("Not a valid end time!");
      return false;
    }

    var timestart_str = timestart.slice(0,2)+ "" + timestart.slice(3,5)
    var timeend_str =timeend.slice(0,2)+ "" + timeend.slice(3,5)

    var timestart_int = parseInt(timestart_str)
    var timeend_int = parseInt(timeend_str)

    var res_timestart_str = res_timestart.slice(0,2)+ "" + res_timestart.slice(3,5)
    var res_timeend_str = res_timeend.slice(0,2)+ "" + res_timeend.slice(3,5)

    var res_timestart_int = parseInt(res_timestart_str)
    var res_timeend_int = parseInt(res_timeend_str)


    if (timestart_int > 2400 ) {
      alert("Not a valid start time! Must be within 2400 hours");
      return false;
    }

    if (timeend_int > 2400 ) {
      alert("Not a valid end time! Must be within 2400 hours");
      return false;
    }

    if (timestart_int >= timeend_int) {
      alert("Start time must be before end time!");
      return false;
    }

    if ((timestart_int < res_timestart_int) || (timeend_int > res_timeend_int )) {
      alert("Reservation time must be between listed availability!");
      return false;
    } 

    return true;
  }

</script>

<script type="text/javascript"> 
$(function(){
   $('#timeStart').timepicker({
       'timeFormat': 'H:i'
   }); 
});

$(function(){
   $('#timeEnd').timepicker({
   'timeFormat': 'H:i'
    }); 
});

$(function() {
    $("#datepicker").datepicker({minDate: 0}).datepicker("setDate", new Date());
});


</script>
<script>
 $('#rsvp').click(function()
{   
    $("#reservations").toggle();     
});
</script>
{% endblock %}
</head>
{% block content %}

    <div class="starter-template">
        <h1>Please fill out the form to reserve a resource!</h1>
        <p class="lead">You must specify your reservation start and end time to
        be between the resource availability times.</p>
    </div>
    <!-- <div class="container" style="height:0px;"> -->
        <div class="panel alert-info">
            <div class="panel-heading">
              <h3>Create a reservation</h3>
            </div>

            <div class="panel-body" >

                <form id="createResource" method="post" name="createResource"
                onsubmit="return validateForm()">
                    <h4>{{ resource.name }} is available from <input id=
                    "timeStartAvail" name="timeStartAvail" type="text" value=
                    "{{ resource.availability.start }}" disabled> to <input id=
                    "timeEndAvail" name="timeEndAvail" type="text" value=
                    "{{ resource.availability.end }}" disabled> on <input disabled id=
                    "datepicker" name="date" type="text" disabled>.<br>
                    </h4>
                    Please select your reservation time below.

                    <div class="datetimepicker">
                        <div class="column-left">
                            <p><label class="col-xs-3 control-label">Start
                            Time</label> <input id="timeStart" name="timeStart"
                            type="text"  style="position:absolute;"></p>
                        </div>
                        <div class="column-center">
                            <p><label class="col-xs-3 control-label">End
                            Time</label> <input id="timeEnd" name="timeEnd"
                            type="text"></p>
                        </div>
                    </div>
            <input name="Key" type="hidden" value= "{{ resource.key.urlsafe() }}"> 
            <input class="btn btn-default" type="submit" value="Submit"> 
                </form>

          </div>
        </div>
    <!-- </div><BR><BR><BR><BR> -->
    <div id="reservations" style="position:absolute;  overflow:scroll; height:400px;">
        Existing reservations 
        {% if rsvps_all|length > 0 %} 
        <table class="table table-sm table-hover">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Resource</th>
                    <th>Date</th>
                    <th>Start Time</th>
                    <th>Duration</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                {% for rsvp in rsvps_all %} 

                <tr>
                    <th scope="row">{{ rsvp.user.identity }}</th>
                    <td>{{ rsvp.resource_name }}</td>
                    <td>{{ rsvp.time.Date }}</td>
                    <td>{{ rsvp.time.start }}</td>
                    <td>{{ rsvp.duration }}</td>
                    <td>
                        <a href=
                        "/view?rkey={{ rsvp.resource_key }}"><span class=
                        "glyphicon glyphicon-info-sign gi-15x"></span></a>
                        <a href=
                        "/user?ukey={{ rsvp.user.identity }}"><span class=
                        "glyphicon glyphicon glyphicon-user gi-15x"></span></a>
                        {% if rsvp.user.identity == user.user_id() %}
                        <a href="/delete?rsvpkey={{ rsvp.key.urlsafe() }}">
                          <span class ="glyphicon glyphicon glyphicon-trash gi-15x">
                          </a>
                          {% endif %}
                    </td>
                </tr>
                    {% endfor %}

            </tbody>
        </table>
        {% endif %}
        
    </div>


    {% endblock %}
