
{% extends "base.html" %}
{% block title %}OpenResource{% endblock %}
{% block head %}
<head>
    {{ super() }}

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js"></script>

<link rel="stylesheet" href="/bootstrap/css/bootstrap-datepicker-custom.css">

<!-- <script type="text/javascript" src="http://jonthornton.github.io/jquery-timepicker/jquery.timepicker.js"></script>
<link rel="stylesheet" href="http://jonthornton.github.io/jquery-timepicker/jquery.timepicker.css">
 -->

<script src="//cdn.jsdelivr.net/bootstrap.tagsinput/0.4.2/bootstrap-tagsinput.min.js"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap.tagsinput/0.4.2/bootstrap-tagsinput.css" />

<script type="text/javascript" src="/bootstrap/js/jquery.timepicker.js"></script>
<link rel="stylesheet" href="/bootstrap/css/jquery.timepicker.css">

<style type="text/css">
.bootstrap-tagsinput {
    width: 100%;
}
.label {
    line-height: 2 !important;
}


</style>

<script type="text/javascript"> 
  function validateForm() {

    var res_timestart = document.forms["createResource"]["timeStartAvail"].value.toString()
    var res_timeend = document.forms["createResource"]["timeEndAvail"].value.toString()

    var timestart = document.forms["createResource"]["timeStart"].value.toString()
    var timeend = document.forms["createResource"]["timeEnd"].value.toString()
    var date = document.forms["createResource"]["date"].value.toString()

    var re_time = new RegExp("^[0-2][0-9]:[0-5][0-9]$");

    if (!timestart.match(re_time)) {
      alert("Not a valid start time!");
      return false;
    }

    if (!timeend.match(re_time)) {
      alert("Not a valid end time!");
      return false;
    }

    var timestart_str = timestart.slice(0,2)+ "" + timestart.slice(3,5)
    var timeend_str =timeend.slice(0,2)+ "" + timeend.slice(3,5)

    var timestart_int = parseInt(timestart_str)
    var timeend_int = parseInt(timeend_str)

    var res_timestart_str = res_timestart.slice(0,2)+ "" + res_timestart.slice(3,5)
    var res_timeend_str = res_timeend.slice(0,2)+ "" + res_timeend.slice(3,5)

    var res_timestart_int = parseInt(res_timestart_str)
    var res_timeend_int = parseInt(res_timeend_str)


    if (timestart_int > 2400 ) {
      alert("Not a valid start time! Must be within 2400 hours");
      return false;
    }

    if (timeend_int > 2400 ) {
      alert("Not a valid end time! Must be within 2400 hours");
      return false;
    }

    if (timestart_int >= timeend_int) {
      alert("Start time must be before end time!");
      return false;
    }

    if ((timestart_int < res_timestart_int) || (timeend_int > res_timeend_int )) {
      alert("Reservation time must be between listed availability!");
      return false;
    } 

    return true;
  }

</script>

<script type="text/javascript"> 
$(function(){
   $('#timeStart').timepicker({
       'timeFormat': 'H:i'
   }); 
});

$(function(){
   $('#timeEnd').timepicker({
   'timeFormat': 'H:i'
    }); 
});

$(function() {
    $("#datepicker").datepicker({minDate: 0}).datepicker("setDate", new Date());
});


</script>
<script>
 $('#rsvp').click(function()
{   
    $("#reservations").toggle();     
});
</script>
{% endblock %}
</head>
{% block content %}

  <div class="starter-template">
    <h1>Please fill out the form to reserve a resource!</h1>
    <p class="lead">You must specify your reservation start and end time to be between the resource availability times.</p>
  </div>

  <form id="createResource" method="post" onsubmit="return validateForm()">

<div class="panel alert-info">
  <div class="panel-body" >
    <font size="4px"> Creating a reservation for <b>{{ resource.name }}</b></font>
  </div>
</div>
 <div class="resourceDetails">
  <h4>It is available from <input name="timeStartAvail" type="text" value="{{ resource.availability.start }}" id="timeStartAvail" disabled/> to <input name="timeEndAvail" type="text" value="{{ resource.availability.end }}" id="timeEndAvail" disabled/>.</h4>

 <div class="datetimepicker">
   <div class="column-left">        <label class="col-xs-3 control-label">Date</label>
 <input name="date" type="text" id="datepicker" disabled></p></div>
   <div class="column-center"><p> <label class="col-xs-3 control-label">Start Time</label>
  <input name="timeStart" type="text" id="timeStart" required/></p></div>
   <div class="column-right"><p> <label class="col-xs-3 control-label">End Time</label>
  <input name="timeEnd" type="text" id="timeEnd" required/></p></div>

</div>
<br>


</div>
  <input name="Key" type="hidden" value="{{ resource.key.urlsafe() }}">
  <input type="submit" class="btn btn-default" value="Submit">

</form>

<div id="reservations">
Existing reservations
    {% if rsvps_all|length>0 %}
<table class="table table-sm table-hover">
  <thead>
    <tr>
      <th>User</th>
      <th>Date</th>
      <th>Start Time</th>
      <th>End Time</th>
    </tr>
  </thead>
      {% for rsvp in rsvps_all %}

  <tbody>
    <tr>

      <td>{{ rsvp.user.identity }}</td>
      <td>{{ rsvp.time.Date }}</td>
      <td>{{ rsvp.time.start }}</td>
      <td>{{ rsvp.time.end }}</td>
    </tr>
  </tbody>
  {% endfor %}

</table>
    {% endif %}
</div>

</div>
{% endblock %}
