{% extends "base.html" %}
{% block title %}OpenResource{% endblock %}
{% block content %}
<br><br>
     <div class="container">
      {% if resource %}
        Name: {{ resource.name }} <br>
        Date: {{ resource.availability.Date }} <br>
        Start Time: {{ resource.availability.start }} <br>
        End Time: {{ resource.availability.end }} <br>
        Tags: {{ resource.tags }} <br>

        {% if user and user.user_id() == resource.creator.identity %}
          <a href="/edit?rkey={{ resource.key.urlsafe() }}">Edit</a></td>
        {% else %}
          <a href="/reserve?rkey={{ resource.key.urlsafe() }}">Reserve</a></td>
        {% endif %}
      {% endif %}


    </div>
{% endblock %}
