{% extends "base.html" %}
{% block title %}OpenResource - View Resource Details {% endblock %}
{% block head %}


{% endblock %}


{% block content %}
<br><br>
<div class="container">
  
{% if resource %}

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Resource Details</h3>
  </div>
    <div class="panel-body">
      <font size="4pt">
        Name: {{ resource.name }} <br>
        Date: {{ resource.availability.Date }} <br>
        Start Time: {{ resource.availability.start }} <br>
        End Time: {{ resource.availability.end }} <br>
        Tags: {{ resource.tags }} <br>
        <br>
        {% if user and user.user_id() == resource.creator.identity %}
          <a href="/edit?rkey={{ resource.key.urlsafe() }}"><b>Edit</b></a></td>
        {% else %}
          <a href="/reserve?rkey={{ resource.key.urlsafe() }}"><b>Reserve</b></a></td>
        {% endif %}
      </font>
      <br>
    </div>
  </div>

<div class="panel panel-info">
  <div class="panel-heading">
        <h3 class="panel-title"> Existing reservations </h3>
  </div>
  {% if rsvps_all %}

    <div id="reservations" style="overflow:scroll; height:250px;">

        {% if rsvps_all|length > 0 %} 
        <table class="table table-sm table-hover">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Resource</th>
                    <th>Date</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                {% for rsvp in rsvps_all %} 

                <tr>
                    <th scope="row">{{ rsvp.user.identity }}</th>
                    <td>{{ rsvp.resource_name }}</td>
                    <td>{{ rsvp.time.Date }}</td>
                    <td>{{ rsvp.time.start }}</td>
                    <td>{{ rsvp.duration }}</td>
                    <td>
                        <a href=
                        "/view?rkey={{ rsvp.resource_key }}"><span class=
                        "glyphicon glyphicon-info-sign gi-15x"></span></a>
                        <a href=
                        "/user?ukey={{ rsvp.user.identity }}"><span class=
                        "glyphicon glyphicon glyphicon-user gi-15x"></span></a>
                        {% if rsvp.user.identity == user.user_id() %}
                        <a href="/delete?rsvpkey={{ rsvp.key.urlsafe() }}">
                          <span class ="glyphicon glyphicon glyphicon-trash gi-15x">
                          </a>
                          {% endif %}
                    </td>
                </tr>
                    {% endfor %}

            </tbody>
        </table>
         {% endif %}

    {% else %}
  <div class="panel-body">

    No reservations found!
  </div>
    {% endif %}

    </div>
    </div>
  </div>

{% if resource.tags|length > 0 %} 
<div class="panel panel-info">
  <div class="panel-heading">
        <h3 class="panel-title">Recommended Resources</h3>
  </div>
    <div class="panel-body">

<select class="form-control"  onchange="document.getElementById('tagsQuery').src = this.options[this.selectedIndex].value" id="tagOption">
  <option value="" disabled selected style="display:none;">Search by current resource tag!</option>
      {% for tag in resource.tags %}
      <option value="/tags?label={{ tag }}">{{ tag }}</option>
    {% endfor %}

</select>
{% endif %}

<div class="embed-responsive embed-responsive-16by9">    
<iframe id="tagsQuery"   height="315"  class="embed-responsive-item" src="/tags">
</iframe>
</div>
<!-- </div> -->

{% endif %}

  </div>
</div>

<nav>
  <ul class="pager">
    <li><a href="/">Back</a></li>
  </ul>
</nav>

    </div>
{% endblock %}
